.DS_Store
content-type
node_modules
# /dist

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.editorconfig
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# deploy
.travis.yml
deploy.sh

# other config
babel.config.js
vue.config.js
.eslintric.js